@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
    font-size: 16px;
}

#root{
    width: 100vw;
    height: 100vh;
    margin: auto auto;
    position: relative;
    max-width: 1200px;
}